# Compiled class files
*.class

# Compiled Java bytecode
*.jar

# Ignore log files
*.log


# Ignore Gradle files
.gradle/

# Ignore Maven build directory
target/

# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore NetBeans project files
nbproject/

# Ignore Javadoc
target/site/
