
.sf-display-pro-Bold{
    -fx-font-family: 'SF Pro Display Bold';
}
.sf-display-pro-Regular{
    -fx-font-family: 'SF Pro Display Regular';
}
.sf-display-pro-Medium{
    -fx-font-family: 'SF Pro Display Medium';
}
.sf-display-pro-Semibold-Italic{
    -fx-font-family: 'SF Pro Display Semibold Italic';
}

.error-message{
    -fx-font-family: 'SF Pro Display Regular';
    -fx-background-color: red;
}

.add-conference-Button{
    -fx-background-radius: 30;
    -fx-font-family:'SF Pro Display Regular';
    -fx-background-color: #0078D4;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.parent{
    -fx-background-color:linear-gradient(to bottom, #140A1C, #2D153F) ;
    -fx-background-radius: 23px;
}
.logout{
    -fx-background-radius: 60px;
}
.profile{
    -fx-background-radius: 60px;
    -fx-background-color: white;
}
.profile-image{
    -fx-background-radius: 50%;

}
.widget {
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.widget-get {
    -fx-background-color: white;
    -fx-background-radius: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}
.text-area {
    -fx-background-color: transparent;
}
.text-area .content {
    -fx-background-color: #D1EDFC;
    -fx-background-radius: 15px;
    -fx-font-size: 50px;

}

.text-field {
    -fx-background-color: #D1EDFC;
    -fx-background-radius: 15px;
}
.input .text-field {
     -fx-prompt-text-fill: #a0a0a0;

 }

.text-field .prompt-text {
    -fx-text-fill: grey;
    -fx-font-size: 4;

}

.blank-scene{
    -fx-background-color: #F4F4FB;
    -fx-background-radius: 13px;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.5), 15, 0, 0, 0);
}


.spinner {
    -fx-background-color: #D1EDFC;
    -fx-background-radius: 20px;
    -fx-padding: 5;

}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-background-radius: 15px;

}


.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: #464141;



}

.spinner .increment-arrow:hover,
.spinner .decrement-arrow:hover {
    -fx-background-color: transparent;
}

.spinner .text-field {

    -fx-background-radius: 15px;
    -fx-text-fill: black;
}

.next-button-widget{
    -fx-background-radius: 30;
    -fx-font-family:'SF Pro Display Regular';
    -fx-background-color: #0078D4;
    -fx-font-size: 15;
    -fx-text-fill: white;
}
.back-button-widget{
    -fx-background-radius: 30;
    -fx-font-family:'SF Pro Display Regular';
    -fx-background-color: #A1979A;
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.delete-button {
    -fx-background-radius: 50em; /* Makes the button circular */
    -fx-min-width: 30px; /* Set the minimum width of the button */
    -fx-min-height: 30px; /* Set the minimum height of the button */
    -fx-max-width: 30px; /* Set the maximum width of the button */
    -fx-max-height: 30px; /* Set the maximum height of the button */
    -fx-background-color: #F0F0F1; /* Button background color */
    -fx-background-insets: 0; /* Remove any padding or insets */
    -fx-padding: 0; /* Remove any padding */
    -fx-font-size: 0; /* Hide the text */
    -fx-text-fill: transparent; /* Make the text transparent */
    -fx-background-position: center; /* Position the icon at the center of the button */
    -fx-background-repeat: no-repeat; /* Prevent the icon from repeating */
    -fx-background-size: 70%; /* Adjust the size of the icon */
}
.done-button {
    -fx-font-family:'SF Pro Display Regular';
    -fx-background-radius: 50em; /* Makes the button circular */
    -fx-text-fill: #2a2929;
    -fx-background-color: #F0F0F1; /* Button background color */

}
.edite-button {
    -fx-background-radius: 50em; /* Makes the button circular */
    -fx-min-width: 30px; /* Set the minimum width of the button */
    -fx-min-height: 30px; /* Set the minimum height of the button */
    -fx-max-width: 30px; /* Set the maximum width of the button */
    -fx-max-height: 30px; /* Set the maximum height of the button */
    -fx-background-color: #0078D4; /* Button background color */
    -fx-background-insets: 0; /* Remove any padding or insets */
    -fx-padding: 0; /* Remove any padding */
    -fx-font-size: 0; /* Hide the text */
    -fx-text-fill: transparent; /* Make the text transparent */
    -fx-background-position: center; /* Position the icon at the center of the button */
    -fx-background-repeat: no-repeat; /* Prevent the icon from repeating */
    -fx-background-size: 70%; /* Adjust the size of the icon */
}


.delete-button .icon {
    -fx-fit-height: 24px; /* Set the height of the icon */
    -fx-fit-width: 24px; /* Set the width of the icon */
}
.next-button{
    -fx-background-radius: 30;
    -fx-font-family:'SF Pro Display Regular';
    -fx-background-color: #32679F;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);

}


.button:pressed {
    -fx-background-color: #474545; /* Change background color on hover */
}

.back-button{
    -fx-background-radius: 30;
    -fx-font-family:'SF Pro Display Regular';
    -fx-background-color: #464141;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);

}


.step-button{
    -fx-background-radius: 30;
    -fx-font-family:'SF Pro Display Medium';
    -fx-background-color: #3A355A;
    -fx-font-size: 22;
    -fx-text-fill: white;
    -fx-padding: 11;

}


.table-view {
    -fx-background-color:transparent;
    -fx-background-radius: 20;

}
.table-view .column-header-background{
    -fx-background-color: #3A355A;

    -fx-background-radius: 10 10 0 0;


}
.table-view .column-header, .table-view .filler{
    -fx-size:30px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color:transparent;
    -fx-background-radius: 10;
}

.table-view .column-header .label {
    -fx-padding: 10;
    -fx-text-fill: white ;
    -fx-font-family:'SF Pro Display Medium';
    -fx-alignment: center-left;
    -fx-background-radius: 10;
}
.table-view .table-cell {
    -fx-padding: 0 0 0 10;
    -fx-text-fill: black; /* Text color */
    -fx-font-family: 'SF Pro Display Medium'; /* Font family */
    -fx-font-size: 14px; /* Font size */
    -fx-border-color: transparent transparent transparent transparent; /* Transparent border color */
    -fx-background-radius: 10;

}
.table-row-cell {
    -fx-background-radius: 10;
    -fx-border-color: transparent; /* Transparent border color */
}

.deletebutton
{
    -fx-background-color:#e31b24;
    -fx-text-fill: white;
    -fx-background-radius:60;

}

.editbutton
{
    -fx-background-color:#0078d4;
    -fx-text-fill: white;
    -fx-background-radius:60;
}

.menu-item
{
    -fx-background-color: linear-gradient(to bottom,#013B66,#00AFFF) ;
}